# Django Core
DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=enter a long and secure secret key
DEBUG=1

# Database
DB_NAME=dbname
DB_USER=db_user
DB_PASSWORD=db_pass
DB_HOST=db_host
DB_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-pass

# JWT / Cookies
JWT_SECRET_KEY=secret-jwt token to be pasted here
COOKIE_SECURE=false
COOKIE_SAMESITE=Lax

# CORS
FRONTEND_URL=http://localhost:5173

# Rate Limiting
RATE_LIMIT_ANON=100
RATE_LIMIT_AUTH=300

# SMTP / Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=youremail@example.com
EMAIL_HOST_PASSWORD=APP-PASSWORD-FOR SMTP SERVER
DEFAULT_FROM_EMAIL=test@example.com
