# Django Core
DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=django-insecure-9v#f8lQ@2x$kP7sVbN3!rZ6^cD1uYwT0aH5mJ8qL2sXcE4pF7gK
DEBUG=1

# Database
DB_NAME=realestate
DB_USER=realestate
DB_PASSWORD=realestatepassword
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-pass

# JWT / Cookies
JWT_SECRET_KEY=jwt-secure-4dF9kL2@pQ7xV3zN8sR1mB6cT5yH0uWjE!aC
COOKIE_SECURE=false
COOKIE_SAMESITE=Lax

# CORS
FRONTEND_URL=http://localhost:5173

# Rate Limiting
RATE_LIMIT_ANON=100
RATE_LIMIT_AUTH=300

# SMTP / Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=pennywisenepal@gmail.com
EMAIL_HOST_PASSWORD=ylsctxtjvdixcqori
DEFAULT_FROM_EMAIL=pennywisenepal@gmail.com
